<div class="favHBS">
  <h1 class='favorites-header'>Favorites</h1>
  {{#each favorites}}
    <div class="pet-name">
      <h3>{{this.name}}</h3>
      <button type="button" id="deletePetButton" data-id="{{this.id}}" class="pet-button"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <div class="pet-description">
        <p>{{this.description}}</p>
      </div>
    </div>
  {{/each}}
</div>
