<div class="row bucket-row">
  <h1>PETS</h1>
  {{#each pets}}
    <div class="col-md-3">
      <div class="view view-first">
        <div class="image-container"><img src="{{this.media}}"></div>
        <div class="mask">
        <div class="pet-name">
          <h2>{{this.name.$t}}</h2>
        </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
