$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'landing';
@import 'petfinder';
@import 'favorites';


body {
  color: white;
  padding-top: 30px;
}

.body-indent {
  margin: 30px 100px;
}
