.modal-content {
    color: #000;
}

.register {
  margin-left: 18px;
}

.landing-page {
  background-color: #ae8e7e;
  background-size: cover;
  color: #fff;
  height: 100vh;
  min-height: auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 75px;
  text-align: center;
}

.get-button {
  background: transparent;
  border: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  font-size: 40px;
  margin-top: 200px;
}

.get-button:hover {
  text-decoration: underline;
}
