.landing-page {
  position: relative;
  min-height: auto;
  //height: 100vh;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: #ae8e7e;
  background-size: cover;

}

.sign-up-section {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}
