
.view {
  color: black;
  float: left;
  height: 460px;
  margin-bottom: 60px;
  overflow: hidden;
  padding: 2%;
  width: 100%;
}

.pet-description {
  display: block;
  height: 250px;
  overflow: scroll;
  padding: 10% 3%;
  width: 100%;
}

.pets-header {
  display: flex;
  justify-content: center;
}

.glyphicon {
  font-size: 30px;
}

.pet-button {
  background: transparent;
  border: 0;
  display: inline;
  outline: none;
}

.pet-button:hover {
  color: red;
}

.pet-image {
  border: 3px solid black;
  display: inline;
  height: 75%;
  width: auto;
}

.compiledFavorites {
  color: black;
}

#applyPetButton:hover {
  color: green;
}
