
.view {
  //border: 2px solid #7c7d75;
  float: left;
  height: 400px;
  padding: 2%;
  width: 100%;
  background-color: #dcd1bf;
}

.pet-description {
//  border: 1px solid #7c7d75;
  height: 250px;
  overflow: auto;
  padding: 2%;
  width: 100%;
}

.pets-header {
  display: flex;
  justify-content: center;
}

.pet-name {
  text-align: center;
}

.glyphicon {
  font-size: 30px;
}

// .pet-button {
//   background: transparent;
//   border: 0;
//   outline: none;
// }
